{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            color: black;
            /*font-weight: 100;*/
            /*font-family: 'Lato';*/
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-sm-6 text-center">
            <a href="./number/123456789">Check numbers</a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="./money/123456789">Check currency signs</a>
        </div>
    </div>
{% endblock %}
